<div  (window:beforeunload)="doBeforeUnload()" (window:unload)="doUnload()">
  <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">
          🄰🅃🄿
        </span>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" routerLink='home'><a href="#">Home</a></li>
        <li routerLinkActive="active" routerLink='about'><a href="#">About US</a></li>
        <li routerLinkActive="active" routerLink='contact'><a href="#">Contact US</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li routerLinkActive="active" routerLink='login'><a href="#"><span class="glyphicon glyphicon-log-in"></span>
            Login</a></li>
      </ul>
    </div>
  </nav> -->


  <nav id="appMenu" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"> 🄰🅃🄿</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" routerLink='home'><a>Home</a></li>
          <li routerLinkActive="active" routerLink='about'><a>About US</a></li>
          <li routerLinkActive="active" routerLink='contact'><a>Contact US</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active" routerLink='login'><a><span class="glyphicon glyphicon-log-in"></span> Login</a>
          </li>
          <li (click)="logout()"><a><span class="glyphicon glyphicon-log-out"></span> LogOut</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="contentDiv" class="container-fluid">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</div>
