.navbar-brand{
  color: black;
  font-size: 30px;
  font-weight: bold;
  background-color:rgb(247, 173, 36);
  padding-left: 30px;
  padding-right: 75px;
  font-stretch: expanded;
  font-family: fantasy;
  /* border-top: 2px solid black; */
}
/* rgb(247, 173, 36) */
.navbar-brand:hover {
  color: black;
  background-color: rgb(247, 173, 36);
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  /* border-bottom: 2px solid rgb(104, 74, 38); */
  border-bottom:4px solid rgb(247, 173, 36);
}
a{
  cursor: pointer;
}

#appMenu{
  position: fixed;
  top:0;
  left: 0;
  right:0;
}

